// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$primary: #fd6914 !default; // bootstrap orange
$light: #d2dbe4 !default;
$min-contrast-ratio: 2.0 !default;

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #3d3c3c;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";


// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Import Bootstrap Icons w/ custom path to fonts folder
//

$bootstrap-icons-font-dir: "../fonts";
@import "bootstrap-icons/font/bootstrap-icons";

//
// Custom styles
//

// Return to top button

// Return to Top button
@include media-breakpoint-down(lg){
    .return-to-top-text {
        display: none;
    }
}

@include media-breakpoint-up(lg){
    .return-to-top {
        margin-bottom: 6em !important;
    }
}

// Navbar Dark Mode
#navbar {
    @extend .bg-light;
}

[data-bs-theme=dark] #navbar {
    @extend .bg-dark-subtle;
}

// Breadcrumbs

.breadcrumb-item {
    position: relative;
    padding-right: 16px;

    // Border around the full breadcrumbs element (where there are links).
    border-top: solid 1px $primary-border-subtle;
    border-bottom: solid 1px $primary-border-subtle;

    &:first-child {
        border-left: solid 1px $primary-border-subtle;
        border-bottom-left-radius: 0.25em;
        border-top-left-radius: 0.25em;

        span, a {
            border-bottom-left-radius: 0.25em;
            border-top-left-radius: 0.25em;
        }
    }

    &:last-child {
        border-right: solid 1px $primary-border-subtle;
        border-bottom-right-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }

    // Links to higher pages look like buttons.
    span, a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 0.25em 0.5em;
        background-color: $primary;
        color: $white;
    }

    // Hover effect
    &:hover a {
        background-color: $btn-link-hover-color;
    }

    // Arrow borders
    a::before, a::after {
        position: absolute;
        width: 0;
        height: 0;
        content: "";
    }

    a::before {
        z-index: 2;
        top: 0;
        right: -14px;

        border-top: solid 16px transparent;
        border-bottom: solid 16px transparent;
        border-left: solid 16px $primary;
    }

    &:hover a::before{
        border-left-color: $btn-link-hover-color;
    }

    a::after {
        z-index: 1;
        top: 0;
        right: -16px;

        border-top: solid 16px transparent;
        border-bottom: solid 16px transparent;
        border-left: solid 16px $primary-border-subtle;
    }

    // Cover for area before this breadcrumb.
    & + &:not(.active) {
        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 100%;
            left: -16px;
            background-color: $primary;
        }

        &:hover::before {
            background-color: $btn-link-hover-color;
        }
    }
    
    &.active {
        background-color: transparent;

        span, a {
            background-color: transparent;
            color: $primary;
        }
    }
}

@import "icon-list";

// Firework Event Card, Amenity Card and Livestream Card
.amenity-card:hover, .firework-event:hover, .livestream-card:hover {
    @extend .shadow;
    z-index: 10;
    transform: scale(1.01);
    transition: box-shadow 0.5s, transform 0.5s;
}

.amenity-card, .firework-event, .livestream-card {
    transform: scale(1);
    transition: box-shadow 0.5s, transform 0.5s;
}

// Firework Event

.firework-event-image {
    width: 20em; 
    min-height: 16em; 
    height: 16em;

    border-bottom-left-radius: unset;
    border-top-left-radius: unset;

    @extend .rounded-end;
}

@include media-breakpoint-down(md){
    .firework-event-image {
        width: 100%;

        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        // .rounded-top
        border-top-left-radius: var(--bs-border-radius) !important;
        border-top-right-radius: var(--bs-border-radius) !important;
    }
}

// Amenity card grid vs list
.amenity-card img {
    filter: brightness(60%);
}

.amenity-card-grid {
    .amenity-card {
        // @extend .w-25;

        .ratio {
            @extend .w-100;
        }
    
        .amenity-card-overlay {
            @extend .top-0;
            @extend .position-absolute;
            color: white;
        }
        
        .amenity-card-overlay * {
            background-color: rgba(0.0, 0.0, 0.0, 0.5);
        }
    }
}

.amenity-card-list {
    @extend .gap-3;

    .amenity-card {
        min-height: 10em;
        @extend .w-100;
        @extend .d-flex;
    
        .ratio {
            min-width: 10em;
            @extend .w-25;
        }
    }
}

// Livestream Card
.livestream-card-grid {
    .livestream-card {
        width: 38%;

        .ratio {
            @extend .w-100;
        }
    
        .livestream-card-overlay {
            @extend .top-0;
            @extend .position-absolute;
            color: white;
        }
        
        .livestream-card-overlay * {
            background-color: rgba(0.0, 0.0, 0.0, 0.5);
        }
    }
}

@include media-breakpoint-down(lg){
    .livestream-card-grid {
        .livestream-card {
            width: 45%;

            .livestream-card-overlay *, .livestream-card-btn * {
                font-size: 1em;
            }
        }
    }
}

@include media-breakpoint-down(sm){
    .livestream-card-grid {
        .livestream-card {
            width: 48%;

            .livestream-card-overlay *, .livestream-card-btn * {
                font-size: 0.75em;
            }
        }
    }
}