<nav class="col-3 border border-1 border-primary-subtle shadow archive-sidebar">
	<h2 class="pt-3 h3">Navigation</h2>

  <hr>

	<ul class="list-unstyled ps-1">
		<li class="mb-1">
		<a class="ps-4 d-block pe-auto" href="archive">Home</a>
		</li>
		<li class="mb-1">
		<a class="ps-4 d-block pe-auto" href="archive/livestreams">Livestreams</a>
		</li>

		<li class="mb-1">
    <div class="d-flex align-items-center justify-content-start w-100">
      <button class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false"></button>
      <a class="link-primary d-block w-100" href="404">History</a><!-- href=/archive/history -->
    </div>
		<div id="home-collapse" class="collapse">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">The Origins of Fireworks</a><!-- href=/archive/history/the-origins-of-fireworks -->
			</li>
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">The Gunpowder Plot</a><!-- href=/archive/history/the-gunpowder-plot -->
			</li>
			</ul>
		</div>
		</li>
	</ul>

	<h2 class="pt-3 h3">Event Series</h2>

  <hr>

	<ul class="list-unstyled ps-1">
		<li class="mb-1">
    <div class="d-flex align-items-center justify-content-start w-100">
      <button class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#bonfire-night-collapse" aria-expanded="false"></button>
      <a class="link-primary d-block w-100" href="404">Bonfire Night</a><!-- /archive/bonfire-night -->
    </div>
		<div id="bonfire-night-collapse" class="collapse">
			<ul class="btn-toggle-nav list-unstyled pb-1">
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">Origins</a><!-- /archive/bonfire-night/origins -->
			</li>
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">Safety and Environment</a><!-- href=/archive/bonfire-night/safety-and-entertainment -->
			</li>
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">No Fly Zone</a><!-- href=/archive/bonfire-night/no-fly-zone -->
			</li>
			</ul>
		</div>
		</li>
		<li class="mb-1">

    <div class="d-flex align-items-center justify-content-start w-100">
      <button class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#british-fireworks-championships-collapse" aria-expanded="false"></button>
      <a class="link-primary d-block w-100" href="archive/the-british-fireworks-championships">The British Fireworks Championships</a>
    </div>
		<div id="british-fireworks-championships-collapse" class="collapse">
			<ul class="btn-toggle-nav list-unstyled pb-1">
			<li class="ps-4">
        <div class="d-flex align-items-center justify-content-start w-100">
          <button class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#british-fireworks-championships-competitors-collapse" aria-expanded="false"></button>
          <a class="link-primary d-block w-100" href="404">Competitors</a><!-- href=/archive/the-british-fireworks-championships/competitors -->
        </div>
				<div id="british-fireworks-championships-competitors-collapse" class="collapse">
				<ul class="btn-toggle-nav list-unstyled pb-1">
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">Selstar Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/selstar-fireworks -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">Skyburst the Firework Co.</a><!-- href=/archive/british-fireworks-championships/competitors/skyburst-the-firework-co -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">1st Galaxy Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/1st-galaxy-fireworks -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">Sonic Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/sonic-fireworks -->
					</li>
				</ul>
				</div>
			</li>
			<li class="ps-4">
        <div class="d-flex align-items-center justify-content-start w-100">
          <button class="btn-toggle" data-bs-toggle="collapse" data-bs-target="#british-fireworks-championships-competitions-collapse" aria-expanded="false"></button>
          <a class="link-primary d-block w-100" href="404">Competitions</a><!-- href=/archive/the-british-fireworks-championships/competitions -->
        </div>
				<div id="british-fireworks-championships-competitions-collapse" class="collapse">
				<ul class="btn-toggle-nav list-unstyled pb-1">
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">2025 Champion of Champions</a><!-- href=/archive/british-fireworks-championships/competitions/2025-champion-of-champions -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">2024 British Fireworks Championship</a><!-- href=/archive/british-fireworks-championships/competitions/2024-championship -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">2023 British Fireworks Championship</a><!-- href=/archive/british-fireworks-championships/competitions/2023-championship -->
					</li>
					<li>
					<a class="ps-4 d-block pe-auto link-primary" href="404">2022 British Fireworks Championship</a><!-- href=/archive/british-fireworks-championships/competitions/2022-championship -->
					</li>
				</ul>
				</div>
			</li>
			<li>
				<a class="ps-4 d-block pe-auto link-primary" href="404">Advice to Pet Owners</a><!-- href=/archive/british-fireworks-championships/advice-to-pet-owners -->
			</li>
			</ul>
		</div>
		</li>
	</ul>
</nav>