

    <footer>
      <hr class="mt-0 mb-4">

      <div class="container px-3 mx-auto">
        <p class="text-muted">
          &copy; 2025 Ross Watts |
          <a href="references">References</a> |
          <a href="https://www.flaticon.com/free-icons/fireworks" title="fireworks icons">Fireworks favicon created by Graphiqa - Flaticon</a>
          <%- additional %>
        </p>
      </div>
    </footer>

    <div class="return-to-top fixed-bottom d-flex my-2 me-3 me-lg-5 mb-3 flex-column d-none pe-none" id="returnToTop">
      <button class="shadow btn btn-primary rounded-3 btn-lg ms-auto pe-auto">
        <span class="return-to-top-text">Return to Top</span><i class="bi bi-arrow-up"></i>
      </button>
    </div>

    <script type="module" src="static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>