    <hr class="mt-5 mb-4">

    <footer>
      <div class="container px-3 mx-auto">
        <p class="text-muted">&copy; 2025 Ross Watts</p>
      </div>
    </footer>

    <div class="fixed-bottom d-flex my-2 me-5 flex-column" style="margin-bottom: 6em !important;">
      <a href="#" class="shadow btn btn-primary rounded-3 btn-lg ms-auto">
        Return to Top <i class="bi bi-arrow-up"></i>
      </a>
    </div>