    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://rosswatts.co.uk/Hi-Fi-Prototype/" />
    <meta property="og:url"           content="https://rosswatts.co.uk" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Plymouth Fireworks" />
    <meta property="og:description"   content="Find everything about the best fireworks events in and around plymouth!" />
    <meta property="og:image"         content="https://rosswatts.co.uk/Hi-Fi-Prototype/static/images/path/fireworks-.png" />
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" type="image/png" href="static/images/fireworks-.png">
    <title>Plymouth Fireworks</title>