    <script src="static/js/dark-mode.js"></script>
    <nav class="navbar navbar-expand-md sticky-top" id="navbar" aria-label="main navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img alt="Fireworks Logo" src="static/images/fireworks-.png" class="ratio ratio-1x1" style="width: 2em;" />
           Plymouth Fireworks
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav nav-pills">
            <li class="nav-item mx-2 my-1">
              <a class="nav-link px-4 <%if(page[0]==='home'){%>active<%}else{%>bg-primary-subtle<%}%>" aria-current="page" href=".">Home</a>
            </li>
            <li class="nav-item mx-2 my-1">
              <a class="nav-link px-4 <%if(page[0]==='events'){%>active<%}else{%>bg-primary-subtle<%}%>" href="events">Events</a>
            </li>
            <li class="nav-item mx-2 my-1">
              <a class="nav-link px-4 <%if(page[0]==='amenities'){%>active<%}else{%>bg-primary-subtle<%}%>" href="amenities">Amenities</a>
            </li>
            <li class="nav-item mx-2 my-1">
              <a class="nav-link px-4 <%if(page[0]==='archive'){%>active<%}else{%>bg-primary-subtle<%}%>" href="archive">Archive</a>
            </li>
          </ul>

          <ul class="navbar-nav nav-pills">
            <!-- Code from getbootstrap.com -->
            <li class="nav-item dropdown"> 
              <button class="nav-link bg-primary-subtle px-2 py-2 mx-2 dropdown-toggle d-flex align-items-center ms-auto" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (auto)"> 
                <i class="bi bi-circle-half theme-icon-active"></i>
                <span class="d-md-none ms-2" id="bd-theme-text">Toggle theme</span>
              </button> 
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text"> 
                <li> 
                  <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false"> 
                    <i class="bi bi-sun-fill"></i>
                    Light
                    <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg> 
                  </button> 
                </li> 
                <li> 
                  <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false"> 
                    <i class="bi bi-moon-stars-fill"></i>
                    Dark
                    <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg> 
                  </button> 
                </li> 
                <li> 
                  <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true"> 
                    <i class="bi bi-circle-half"></i>
                    Auto
                    <svg class="bi ms-auto d-none" aria-hidden="true"><use href="#check2"></use></svg> 
                  </button> 
                </li>
              </ul> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%if(page[0]!=='home'){
    %><nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
      <div class="container ps-1 ps-sm-2">
        <ol class="breadcrumb my-2"><% page.forEach((element, index) => { %><%if(index===page.length-1){%>
          <li class="breadcrumb-item active" style="text-transform: capitalize;" aria-current="page">
            <span><%=element%></span>
          </li><%}else{%>
          <li class="breadcrumb-item" style="text-transform: capitalize;">
            <a href="<%= page.slice(0, index+1).map((s) => s.replaceAll(" ", "-")).join("/") %>"><%=element%></a>
          </li>
            <%}%><% }) %>
        </ol>
      </div>
    </nav><%}%>

    <!-- Facebook share button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v22.0"></script>