    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://localhost:3000/" />
    <meta property="og:url"           content="https://ross-theboss.github.io" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Plymouth Fireworks" />
    <meta property="og:description"   content="Find everything about the best fireworks events in and around plymouth!" />
    <meta property="og:image"         content="https://ross-theboss.github.io/static/images/path/fireworks-.png" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" type="image/png" href="static/images/fireworks-.png">
    <title><%= title %> <%if(title != ""){%> | <%}%>Plymouth Fireworks</title>