    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W93SRM2Q"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-md bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img alt="Fireworks Logo" src="static/images/fireworks-.png" class="ratio ratio-1x1" style="width: 2em;" />
           Plymouth Fireworks
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-pills">
            <li class="nav-item mx-2">
              <a class="nav-link px-4 <%if(page[0]==='home'){%>active<%}else{%>bg-primary-subtle<%}%>" aria-current="page" href=".">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link px-4 <%if(page[0]==='events'){%>active<%}else{%>bg-primary-subtle<%}%>" href="events">Events</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link px-4 <%if(page[0]==='amenities'){%>active<%}else{%>bg-primary-subtle<%}%>" href="amenities">Amenities</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link px-4 <%if(page[0]==='archive'){%>active<%}else{%>bg-primary-subtle<%}%>" href="archive">Archive</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%if(page[0]!=='home'){
    %><nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
      <div class="container">
        <ol class="breadcrumb my-2"><% page.forEach((element, index) => { %><%if(index===page.length-1){%>
          <li class="breadcrumb-item active" style="text-transform: capitalize;" aria-current="page">
            <span><%=element%></span>
          </li><%}else{%>
          <li class="breadcrumb-item" style="text-transform: capitalize;">
            <a href="<%= page.slice(0, index+1).map((s) => s.replaceAll(" ", "-")).join("/") %>"><%=element%></a>
          </li>
            <%}%><% }) %>
        </ol>
      </div>
    </nav><%}%>

    <!-- Facebook share button -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v22.0"></script>