<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('../partials/head'); %>
  </head>
  <body>
<%- include('../partials/header', {page: ['archive', 'the british fireworks championships']}); %>

    <div class="container py-2 px-1 px-md-3 mx-auto">
      <h1 class="text-center display-4">Archive</h1>

      <div class="row mt-5">
<%- include('../partials/archive-sidebar'); %>

        <main class="col-8 col-md-9 px-3 px-md-4 px-lg-5">
          <h2 class="text-center mb-3">The British Fireworks Championships</h2>

          <p>
            The British Fireworks Championships is a series of fireworks events held each year which pits pyrotechnics companies across the UK up against each other.
            Founded in 1997, by the Event Services Association (TESA), the British Fireworks Championships has attracted media coverage from as far away as Australia, demonstrating its position as a signature event for the UK firework industry.
          </p>

          <p>
            The championships were originally created to bring pyrotechnics professionals together once a year, but through explosive year on year growth, it is now considered to be one of the premier annual occasions in South West england.
            Not only does it draw in locals, but it also attracts visitors from all around the UK which helps support local businesses.
          </p>

          <p>
            Plymouth has proven itself to be a natural amphitheatre, allowing thousands to watch the spectacle in the skies.
          </p>

          <p>
            6 Fireworks Companies compete over 2 nights for the title of British Firework Champion. Each must provide a 10-minute display, judged both by a expert panel and a lay panel representing the public.
            Thus, they're both rated on technical achievement and their WOW factor.
          </p>

          <p>The competitors for this event has included: </p>

          <ul>
            <li>
                <a href="404">Selstar Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/selstar-fireworks -->
            </li>
            <li>
                <a href="404">Skyburst the Firework Co.</a><!-- href=/archive/british-fireworks-championships/competitors/skyburst-the-firework-co -->
            </li>
            <li>
                <a href="404">1st Galaxy Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/1st-galaxy-fireworks -->
            </li>
            <li>
                <a href="404">Sonic Fireworks</a><!-- href=/archive/british-fireworks-championships/competitors/sonic-fireworks -->
            </li>
          </ul>
        </main>
      </div>
    </div>

<%- include('../partials/footer') %>
  </body>
</html>