<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <%- include('../partials/head', {title: 'Amenities'}); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.7.13/tags-pure.min.css">
    <script type="module">
      import Tags from "https://cdn.jsdelivr.net/npm/bootstrap5-tags@1.7.13/tags.min.js";

      const params = new URLSearchParams(document.location.search);
      const queries = params.has('q') ? params.getAll('q'): [];

      Tags.init("select[multiple]", {selected: queries.join(',')});
    </script>
    <script src="static/js/amenities.js"></script>
  </head>
  <body>
    <%- include('../partials/header', {page: ['amenities']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Nearby Amenities</h1>

        <form class="row g-2 mt-5 mb-2" name="search">
          <div class="col-12 col-lg-8 col-xl-9">
            <div class="input-group flex-nowrap">
              <div class="flex-fill tags-search-container">
                <select class="form-control" id="amenity-search" 
                name="q" type="search" placeholder="Filter by event(s)" aria-label="Search" 
                data-allow-clear="true" data-clear-end="true"
                multiple>
                  <option value="bonfire-night">Bonfire Night</option>
                  <option value="british-fireworks-championships">
                    British Fireworks Championships
                  </option>
                  <option value="dartington-hall-big-bonfire-night">
                    Dartington Hall Big Bonfire Night
                  </option>
                  <option value="lions-club-of-tavistock-fireworks-display">
                    Lions Club of Tavistock Fireworks Display
                  </option>
                  <option value="port-eliot-bonfire-and-fireworks-night">
                    Port Eliot Bonfire and Fireworks Night
                  </option>
                </select>
              </div>
              <button class="btn btn-primary" id="amenity-search-btn" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3">
            <div class="input-group">
              <span class="input-group-text">Sort By:</span>
              <select class="form-select" id="amenity-sort-order" name="sort" aria-label="Sort By Selection">
                <option value="closest">Distance (Closest)</option>
                <option value="cheapest">Price (Cheapest)</option>
                <option value="fastest">Travel Time (Shortest)</option>
              </select>
            </div>
          </div>
        </form>

        <div class="btn-group">
          <button id="amenityGridBtn" class="btn btn-primary"><i class="bi bi-grid-fill"></i> Grid View</button>
          <button id="amenityListBtn" class="btn btn-primary"><i class="bi bi-list-ul"></i> List View</button>
        </div>

        <div id="amenityCards" class="mt-5 mb-3 d-flex flex-wrap amenity-card-grid row-cols-2 row-cols-md-3 row-cols-lg-4">

        </div>

        <div class="d-flex">
          <button id="view-more" class="btn btn-outline-primary rounded-5 mx-auto d-none">
            View More <i class="bi bi-arrow-down"></i>
          </button>
        </div>
      </div>
    </main>

<%- include('../partials/footer') %>
  </body>
</html>