<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <%- include('../partials/head', {title: 'Amenities'}); %>
    <script src="static/js/amenities.js"></script>
  </head>
  <body>
    <%- include('../partials/header', {page: ['amenities']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Nearby Amenities</h1>

        <form class="row g-2 mt-5 mb-2">
          <div class="col-12 col-lg-8 col-xl-9">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Filter by event(s)" aria-label="Search">
              <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3">
            <div class="input-group">
              <span class="input-group-text">Sort By:</span>
              <select class="form-select" aria-label="Default select example">
                <option selected>Distance (Closest)</option>
                <option value="1">Price (Cheapest)</option>
                <option value="2">Travel Time (Shortest)</option>
              </select>
            </div>
          </div>
        </form>

        <div class="btn-group">
          <button id="amenityGridBtn" class="btn btn-primary active"><i class="bi bi-grid-fill"></i> Grid View</button>
          <button id="amenityListBtn" class="btn btn-primary"><i class="bi bi-list-ul"></i> List View</button>
        </div>

        <div id="amenityCards" class="mt-5 mb-3 d-flex flex-wrap amenity-card-grid row-cols-2 row-cols-md-3 row-cols-lg-4">

        </div>

        <div class="d-flex">
          <button id="view-more" class="btn btn-outline-primary rounded-5 mx-auto">
            View More <i class="bi bi-arrow-down"></i>
          </button>
        </div>
      </div>
    </main>

<%- include('../partials/footer') %>
  </body>
</html>