<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('../partials/head'); %>
  </head>
  <body>
<%- include('../partials/header', {page: ['amenities', 'waypoint bar and bistro']}); %>

    <main>
<%- include('../partials/share-modal') %>

      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Waypoint Bar and Bistro</h1>

        <div class="w-100 mb-5 row justify-content-between g-3 g-md-0" id="eventSummaryBar">
          <div class="mb-2 text-muted d-flex flex-wrap w-25 col-4 order-1 order-md-0">
            <div class="flex-fill flex-shrink-0">
              <i class="bi bi-calendar-event"></i>
              <span class="mx-2">Monday to Friday</span>
            </div>
            <div class="flex-fill flex-shrink-0">
              <i class="bi bi-clock"></i>
              <span class="mx-2">9am - 5pm</span>
            </div>
          </div>

          <div class="pe-none d-flex col-12 col-md-5 order-0 order-md-1">
            <div class="mx-auto">
                <img style="filter: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(3298%) hue-rotate(92deg) brightness(92%) contrast(88%);" class="mx-2" width="48" height="48" src="https://img.icons8.com/material-rounded/48/vegan-food.png" alt="vegan-food"/>
                <img style="filter: brightness(0) saturate(100%) invert(53%) sepia(15%) saturate(1999%) hue-rotate(100deg) brightness(94%) contrast(83%);" class="mx-2" width="50" height="50" src="https://img.icons8.com/ios-filled/50/vegetarian-food.png" alt="vegetarian-food"/>
                <img style="filter: brightness(0) saturate(100%) invert(28%) sepia(42%) saturate(3481%) hue-rotate(12deg) brightness(97%) contrast(105%);" class="mx-2" width="50" height="50" src="https://img.icons8.com/ios-filled/50/halal-sign.png" alt="halal-sign"/>
            </div>
          </div>

          <div class="order-2" style="width: fit-content;">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareModal" aria-hidden="true">
              Share <i class="bi bi-share-fill ms-2"></i>
            </button>
          </div>
        </div>

        <section class="my-2">
          <h2>Overview</h2>
          <p>
            A waterfront bar and bistro haven away from the bustle of the Barbican.
          </p>
          <p>
            Join us for a relaxed meal and a quiet drink...
          </p>
          More Info: <a class="mt-2" href="https://waypointbistro.co.uk/">https://waypointbistro.co.uk/</a>
        </section>

        <section class="my-2">
          <h2>Location</h2>

          <p>
            The bar can be found south of Queen Anne's Battery. Turn into Teats Hill Road and the bar is located just before the docks.
          </p>

          <address>
            Ground Floor, Atlantic Building <br />
            Queen Anne's Battery <br />
            Plymouth <br />
            GB PL4 0LP
          </address>

          <div class="d-flex w-100 justify-content-center m-3" id="eventMap">
            <div class="w-75 ratio ratio-4x3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.096847773878!2d-4.132166422959916!3d50.36474857157585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486cecafa1e73a8f%3A0xfb4d6289ad353a32!2sWaypoint%20Bar%20%26%20Bistro!5e0!3m2!1sen!2suk!4v1745083179510!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </section>
      </div>
    </main>

<%- include('../partials/footer') %>
<a target="_blank" href="https://icons8.com/icon/8433/vegetarian-food">Vegetarian</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </body>
</html>