<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('../../partials/head', {title: 'British Fireworks Championships Night 1'}); %>
  </head>
  <body>
<%- include('../../partials/header', {page: ['archive', 'livestreams', '2024 british fireworks championship night 1']}); %>
  <main>
    <div class="container py-2 px-3 mx-auto">
      <h1 class="text-center">2024 British Fireworks Championship Night 1</h1>

      <div class="my-3 w-100 ratio ratio-16x9">
        <iframe src="https://www.youtube-nocookie.com/embed/bkh7zp9H1ek?si=2u6hsqQVfP8bFhH2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <p>
        Join us live from Plymouth, Britain’s Ocean City for the 2024 British Firework Championships, in partnership with Associated British Ports, on Wednesday 14th and Thursday 15th August 2024. Erin Black and Andy Hubble will present this year’s live global coverage on YouTube each evening from 9pm.
      </p>
      <p>
        6 companies will be competing over the 2 nights at 9.30pm, 9.50pm and 10.10pm for the coveted championship title of British Fireworks Champion 2024. 
      </p>
      <p>
        Wednesday 14th August 2024:<br />
        Smart Pyrotechnics – Wiltshire<br />
        Sky Rascal Fireworks – Somerset<br />
        Pyrotex Fireworks – East Staffordshire<br />
        <br />
        Thursday 15th August 2024:<br />
        Anytime Fireworks – Dorset<br />
        Celestial Firework Displays – Leicestershire<br />
        BBB Fireworks – East Sussex<br />
        <br />
        Reserve: Phoenix Fireworks, Kent<br />
      </p>
    </div>
  </main>

<%- include('../../partials/footer') %>
  </body>
</html>