<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('../../partials/head'); %>
  </head>
  <body>
<%- include('../../partials/header', {page: ['archive', 'livestreams', '2024 british fireworks championship night 1']}); %>
  <main>
    <div class="container py-2 px-3 mx-auto">
      <h1 class="text-center">2024 British Fireworks Championship Night 1</h1>

      <div class="my-3 w-100 ratio ratio-16x9">
        <iframe src="https://www.youtube-nocookie.com/embed/pyaymuZSA1s?si=2u6hsqQVfP8bFhH2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <p>
        A complete description of the video livestrea including details on where and when it took place and an overview of the video's contents including timestamps to where certain events took place.
      </p>
    </div>
  </main>

<%- include('../../partials/footer') %>
  </body>
</html>