<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/header', {page: ['amenities']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Amenities</h1>
      </div>
    </main>

<%- include('partials/footer') %>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
