<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('partials/head'); %>
  </head>
  <body>
<%- include('partials/header', {page: ['archive']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Archive</h1>
      </div>
    </main>

<%- include('partials/footer') %>
  </body>
</html>