<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Plymouth Fireworks</title>
  </head>
  <body>
    <%- include('partials/header', {page: 'Archive'}); %>

    <main>
      <div class="container py-4 px-3 mx-auto">
        <h1 class="text-center">Archive</h1>
      </div>
    </main>

    <%- include('partials/footer') %>

    <script type="module" src="js/main.js"></script>
  </body>
</html>