<!doctype html>
<html lang="en">
  <head>
<%- include('partials/head'); %>
  </head>
  <body>
<%- include('partials/header', {page: ['home']}); %>

    <main>
      <div class="container py-4 px-3 mx-auto">
        <h1 class="text-center">Homepage</h1>
      </div>
    </main>

<%- include('partials/footer') %>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
