<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('partials/head', {title: 'References'}); %>
  </head>
  <body>
<%- include('partials/header', {page: ['references']}); %>
    <div class="container py-2 px-3 px-sm-0 mx-auto">
        <h1 class="text-center">References</h1>
        <h2>Content</h2>
        <ol>
            <li>
                “Champion of Champions on 13-14 August 2025,” Britishfireworks.co.uk, Jan. 09, 2025. 
                <a href="https://www.britishfireworks.co.uk/the-british-firework-championships/264-champion-of-champions-on-13-14-august-2025">https://www.britishfireworks.co.uk/the-british-firework-championships/264-champion-of-champions-on-13-14-august-2025</a>
            </li>
            <li>
                “Bonfire Night - Major Event, Plymouth,” Visit Plymouth, 2016. 
                <a href="https://www.visitplymouth.co.uk/whats-on/bonfire-night-p1988563">https://www.visitplymouth.co.uk/whats-on/bonfire-night-p1988563</a>
            </li>
            <li>
                “About the British Firework Championships,” Britishfireworks.co.uk, Mar. 09, 2020. 
                <a href="https://www.britishfireworks.co.uk/the-british-firework-championships/about-the-british-firework-championships">https://www.britishfireworks.co.uk/the-british-firework-championships/about-the-british-firework-championships</a>
            </li>
            <li>“The Competitors,” Britishfireworks.co.uk, Jan. 02, 2025. 
                <a href="https://www.britishfireworks.co.uk/the-british-firework-championships/the-competitors">https://www.britishfireworks.co.uk/the-british-firework-championships/the-competitors</a>
            </li>
            <li>“Video Archive,” Britishfireworks.co.uk, Aug. 16, 2024. 
                <a href="https://www.britishfireworks.co.uk/the-british-firework-championships/video-archive">https://www.britishfireworks.co.uk/the-british-firework-championships/video-archive</a>
            </li>
            <li>
                K. Simule, “Six epic Bonfire Night events in and around Plymouth,” Plymouth Live, Oct. 11, 2024. 
                <a href="https://www.plymouthherald.co.uk/whats-on/whats-on-news/six-epic-bonfire-night-events-962055">https://www.plymouthherald.co.uk/whats-on/whats-on-news/six-epic-bonfire-night-events-962055</a>
            </li>
            <li>
                “Fireworks Display by Tavistock Lions Club,” Tavistock, 2024. 
                <a href="https://www.visit-tavistock.co.uk/event-details/fireworks-display-by-tavistock-lions-club-3">https://www.visit-tavistock.co.uk/event-details/fireworks-display-by-tavistock-lions-club-3</a> (accessed May 04, 2025).
            </li>
            <li>
                “Port Eliot Bonfire & Fireworks Night,” Eventbrite, 2024. 
                <a href="https://www.eventbrite.co.uk/e/port-eliot-bonfire-fireworks-night-tickets-939538022517">https://www.eventbrite.co.uk/e/port-eliot-bonfire-fireworks-night-tickets-939538022517</a> (accessed May 04, 2025).
            </li>
            <li>
                “Big Bonfire Night and Firework Display,” Chooseyourevent.co.uk, 2024. 
                <a href="https://www.chooseyourevent.co.uk/event/287278/big-bonfire-night-and-firework-display-at-dartington-hall">https://www.chooseyourevent.co.uk/event/287278/big-bonfire-night-and-firework-display-at-dartington-hall</a> (accessed May 04, 2025)
            </li>
            <li>
                W. Bar, “Waypoint Bar and Bistro,” Waypoint Bar and Bistro, 2024. 
                <a href="https://waypointbistro.co.uk/">https://waypointbistro.co.uk/</a> (accessed May 05, 2025).
            </li>
        </ol>
    </main>

<%- include('partials/footer') %>
  </body>
</html>
