<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
<%- include('../partials/head'); %>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js'></script>
    <script src="/static/js/calendar.js"></script>
  </head>
  <body>
<%- include('../partials/header', {page: ['events', 'calendar']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Upcoming Events</h1>
        <div class="w-75 mx-auto" id="calendar"></div>
      </div>
    </main>

<%- include('../partials/footer') %>
  </body>
</html>