<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <%- include('../partials/head'); %>
    <script src="static/js/events.js"></script>
  </head>
  <body>
    <%- include('../partials/header', {page: ['events']}); %>

    <main>
      <div class="container py-2 px-3 mx-auto">
        <h1 class="text-center">Upcoming Events</h1>
        <div class="d-flex">
          <a href="events/calendar" class="btn btn-primary d-block mx-auto"><i class="bi bi-calendar-fill"></i> View Calendar</a>
        </div>

        <form class="row my-5 g-2" name="search">
          <div class="col-12 col-lg-8 col-xl-9">
            <div class="input-group">
              <input class="form-control" id="event-search"  name="q" type="search" placeholder="Search for an event..." aria-label="Search">
              <button class="btn btn-primary" id="event-search-btn" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </div>

          <div class="col-12 col-lg-4 col-xl-3">
            <div class="input-group">
              <span class="input-group-text">Sort By:</span>
              <select class="form-select" id="event-sort-order" name="sort" aria-label="Sort by selection">
                <option value="earliest">Date (Earliest First)</option>
                <option value="latest">Date (Latest First)</option>
                <option value="a-z">Alphabetical (A-Z)</option>
                <option value="z-a">Alphabetical (Z-A)</option>
              </select>
            </div>
          </div>
        </form>

        <div class="mt-5 mb-3" id="event-list">
        </div>

        <div class="d-flex">
          <button class="btn btn-outline-primary rounded-5 mx-auto" id="view-more">
            View More <i class="bi bi-arrow-down"></i>
          </button>
        </div>
      </div>
    </main>

<%- include('../partials/footer') %>
  </body>
</html>